* {
    margin: 0px;
    padding: 0px;
  }
  
 
  .container {
    display: flex;
    justify-content: space-around;
    padding: 20px 5px;
    margin-bottom: 20px;
  }
  
  .texto {
    height: 50px;
    width: 400px;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
  }
  
  .boton {
    border-radius: 5px;
    font-weight: 400;
    font-size: 15px;
    border: none;
    width: 80px;
    background: #69cae2;
    padding: 7px;
    cursor: pointer;
  }
  